@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    transition: 1s;
}
header{
position: sticky;
display: flex;
justify-content: space-between;
background: transparent;
z-index: 9
}
.leftHeader{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 30px;
}
.leftHeader > img{
    width: 70px;
    height: 50px;
    cursor: pointer;
}
.leftHeader > h4{
    font-family: Open Sans;
    font-weight: 300;
    color: #ffff;
    cursor: pointer;
}
.rigthHeader{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 30px;
}
.rigthHeader > a > img{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.rigthHeader > a > img:hover{
    transform: scale(1.1);
}
.rigthHeader > img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    position: relative;
}
.backgroundMain > img{
    width: 100vw;
    height: 500px;
    display: block;
    position: absolute;
    
}
.titleMain{
    position: relative;
    color: #ffff;
    font-family: Open Sans;
    
}
.subTitleMain > h3{
    position: relative;
    color: #ffff;
    font-family: Open Sans;
    font-weight: 300;
}
.buttonMain{
    position: relative;
    height: 40px;
    width: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.buttonMain > a{
    position: relative;
    background-color: white;
    color: black;
    font-family: Open Sans;
    font-weight: 700;

    text-decoration: none;
}
.buttonMain:hover{
    border-bottom: 3px solid red;
}
.containerTitleMain{
    padding-left: 30px;
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.emAltaMain{
    height: 350px;
    margin-top: 60px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.emAltaTitle{
    font-family: Open sans;
    font-size: 30px;
    color: #ffff;
    padding-bottom: 20px;
}
.emAltaTitle >p:hover{
    color: gray
}
.emAltaContent > a >  img {
    height: 130px;
    width: 230px;
    padding-left: 20px;
    transition: 0.5s;
}
.emAltaContent > a >  img:hover{
    transform: scale(1.1);
}

